.badge.o_field_badge[data-value="urgente"] {
    background-color: #e67e22 !important;
    color: #fff !important;
}
.badge.o_field_badge[data-value="checklist"] {
    background-color: #8e44ad !important;
    color: #fff !important;
}
